@use "../mixins";

// TODO variables

.layout__footer {
  background-color: var(--wp--preset--color--navy);
  color: var(--wp--preset--color--gray-400);
  padding: 48px 0;
  border-top: 1px solid #1e293b;
}

.footer__container {
  @include mixins.container;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  p {
    margin: 0;
  }
}

.footer__subtext {
  font-size: 0.75rem;
  color: var(--wp--preset--color--gray-500);
  margin-top: 4px;
}

.footer__copyright {
  font-size: 0.75rem;
  color: var(--wp--preset--color--gray-500);
  text-align: center;
  margin-top: var(--wp--preset--spacing--40);
}

@media (min-width: 781px) {
  .footer__container {
    justify-content: space-between;
    text-align: left;
  }

  .footer__copyright {
    text-align: right;
    margin-top: 0;
  }
}
