@use "../mixins";

.layout__footer {
  background-color: var(--wp--preset--color--navy);
  color: var(--wp--preset--color--gray-400);
  padding: var(--wp--preset--spacing--60) 0;
}

.footer__container {
  @include mixins.container;
  @include mixins.flex-center;

  .custom-logo {
    // filter: saturate(20%) contrast(90%) opacity(50%) brightness(300%);
    filter: invert(80%) opacity(80%);
  }
}

.footer__subtext {
  font-size: var(--wp--preset--font-size--small);
  color: var(--wp--preset--color--gray-500);
  margin-top: var(--wp--preset--spacing--20);
}

.footer__copyright {
  font-size: var(--wp--preset--font-size--small);
  color: var(--wp--preset--color--gray-500);
  text-align: center;
  margin-top: var(--wp--preset--spacing--40);
}

@media (min-width: 781px) {
  .footer__container {
    justify-content: space-between;
    text-align: left;
  }

  .footer__copyright {
    text-align: right;
    margin-top: 0;
  }
}
