// TODO variables

.wp-block-button {
  .wp-block-button__link {
    line-height: var(--wp--custom--line-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 8px;
    transition: var(--wp--custom--transition);
    cursor: pointer;
    border: none;
  }

  &.button--sm {
    .wp-block-button__link {
      padding: 10px 20px;
      font-size: 0.875rem;
    }
  }

  &.button--lg {
    .wp-block-button__link {
      padding: 16px 32px;
      font-size: 1.125rem;
    }
  }

  &.button--primary {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--primary);
      color: var(--wp--preset--color--white);

      &:hover {
        background-color: var(--wp--preset--color--primary-light);
        box-shadow: 0 4px 12px rgba(0, 131, 143, 0.3);
      }
    }
  }

  &.button--black {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--black);
      color: var(--wp--preset--color--white);
    }
  }

  &.disabled {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--gray-200);
      color: var(--wp--preset--color--gray-400);
      cursor: not-allowed;
    }
  }
}
