.wp-block-button {
  .wp-block-button__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: var(--wp--preset--spacing--20);
    transition: var(--wp--custom--transition);
    cursor: pointer;
  }

  &.button--sm {
    .wp-block-button__link {
      padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
      font-size: var(--wp--preset--font-size--small);
    }
  }

  &.button--lg {
    .wp-block-button__link {
      padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--50);
      font-size: var(--wp--preset--font-size--medium);
    }
  }

  &.button--primary {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--primary);
      border: 1px solid var(--wp--preset--color--primary);
      color: var(--wp--preset--color--white);

      &:hover {
        background-color: var(--wp--preset--color--primary-light);
      }
    }
  }

  &.button--black {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--black);
      color: var(--wp--preset--color--white);
    }
  }

  &.disabled {
    .wp-block-button__link {
      background-color: var(--wp--preset--color--gray-200);
      color: var(--wp--preset--color--gray-400);
      cursor: not-allowed;
    }
  }
}

input[type="submit"] {
  padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
  font-size: var(--wp--preset--font-size--medium);
  background-color: var(--wp--preset--color--primary);
  border: 1px solid var(--wp--preset--color--primary);
  color: var(--wp--preset--color--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: var(--wp--preset--spacing--20);
  transition: var(--wp--custom--transition);
  cursor: pointer;

  &:hover {
    background-color: var(--wp--preset--color--primary-light);
  }
}
