@use "../mixins";

.contact__wrapper {
  padding: var(--wp--preset--spacing--80) 0;
  background-color: var(--wp--preset--color--white);
}

.contact__container {
  @include mixins.container;
  gap: var(--wp--preset--spacing--50);
}
