@use "blocks/button";
@use "blocks/badge";
@use "blocks/card";
@use "blocks/icon";

@use "patterns/hero";
@use "patterns/about";
@use "patterns/services";
@use "patterns/contact";

@use "parts/header";
@use "parts/footer";

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--wp--custom--font-family);
  background-color: var(--wp--preset--color--gray-50);
  color: var(--wp--preset--color--gray-800);
  line-height: 1.6;
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 600px) {
  .hide-on-mobile {
    display: block;
  }

  .show-on-mobile {
    display: none !important;
  }
}
